_site
.sass-cache
.jekyll-metadata

# Project dependencies
.cache
node_modules
yarn-error.log

# Build directory
/public
.DS_Store

.env*
/repos
/src/pages/*/best-practices
/src/pages/*/reference

.Rhistory
