.container {
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  position: absolute;
  /* top: 100px; */
  /* justify-content: center; */

}

.navContainer {
  /* flex: 1.5; */
  width: 25vw;
  /* min-width: 300px; */
  background-color: #efefef;
  padding: 10px 15px 15px 30px;
  /* margin-right: 50px; */
  overflow-y: auto;
}

.navContainer li {
  list-style: none;
}

.contentContainer {
  /* position: absolute; */
  flex: 1;
  min-width: 800px;
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 75px;
  padding-bottom: 150px;
  width: 75vw;
  background: white;
  filter: drop-shadow(0px 0px 5px #dbdbdb);
}


img {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

a {
  word-wrap: break-word !important;
}

@media screen and (min-width: 0px) and (max-width: 700px) {
  .navContainer { display: none; }
}
