.navContainer {
  /* flex: 1.5; */
  width: 25vw;
  background-color: #efefef;
  padding: 10px 15px 15px 30px;
  /* margin-right: 50px; */
  overflow-y: auto;
  display: none;
}

.navContainer li {
  list-style: none;
}

.docContainer {
  padding: 30px 15px;
}

img {
  display: block;
  max-width: 300px;
  margin: 0 auto;
}

a {
  word-wrap: break-word !important;
}

.docContainer ul,
.docContainer ol {
  padding-left: 15px;
}

li p {
  margin-bottom: 0;
}

.versionSelectForm {
  margin-bottom: 0;
}

.versionSelectForm label {
  padding-right: 10px;
  font-weight: bold;
  margin-bottom: 0;
}

@media screen and (min-width: 700px) {
  .container {
    display: flex;
    flex-direction: row;
    position: absolute;
  }

  .navContainer {
    display: block;
  }

  .docContainer {
    width: 75vw;
    flex: 1;
    padding: 50px 75px 150px;
    background: white;
    filter: drop-shadow(0px 0px 5px #dbdbdb);
  }

  .docContainer ul,
  .docContainer ol {
    padding-left: 20px;
  }
}
