<nav class="navbar col-xs-12">
  <div class="navbar-header">
    <button type="button" data-target="#mobile-nav" class="navbar-toggle collapse" data-toggle="collapse" aria-expanded="false">
      MENU
    </button>
    <div id="mobile-nav" class="navbar-collapse collapse">
      <ul class="nav">
        <li><a href="{{ "/" | prepend: site.baseurl }}">GTFS HOME</a></li>
        <li><a href="{{ "/getting-started/" | prepend: site.baseurl }}">GETTING STARTED</a></li>
        <li><a href="{{ "/examples/" | prepend: site.baseurl }}">EXAMPLES</a></li>
        <li><a href="{{ "/testing/" | prepend: site.baseurl }}">TESTING FEEDS</a></li>
        <li><a href="{{ "/realtime/" | prepend: site.baseurl }}">GTFS REALTIME</a></li>
        <li><a href="{{ "/reference/" | prepend: site.baseurl }}">CORE REFERENCE</a></li>
        <li><a href="{{ "/best-practices/" | prepend: site.baseurl }}">BEST PRACTICES</a></li>
        <li><a href="{{ "/merged-view/" | prepend: site.baseurl }}">MERGED VIEW</a></li>
      </ul>
    </div>
  </div>

  <div id="main-nav" class="waypoints">
    <ul class="nav navbar-nav">
      <li><a href="{{ "/" | prepend: site.baseurl }}">GTFS HOME</a><div class="dot"></div></li>
      <li class="dropdown-link"><a href="{{ "/getting-started/" | prepend: site.baseurl }}">GETTING STARTED<span class="caret"></span></a><div class="dot"></div>
        <ul class="dropdown-list">
          <li><div class="dot"></div><a href="{{ "/examples/" | prepend: site.baseurl }}">EXAMPLES</a></li>
        </ul>
      </li>
      <li class="dropdown-link"><button>SPEC DOCUMENTATION<span class="caret"></span></button><div class="dot"></div>
        <ul class="dropdown-list">
          <li><div class="dot"></div><a href="{{ "/realtime/" | prepend: site.baseurl }}">GTFS REALTIME</a></li>
          <li class="dropdown-link"><div class="dot"></div><button>GTFS (STATIC)<span class="caret"></span></button>
            <ul class="dropdown-list sub-dropdown-list">
              <li><div class="dot"></div><a href="{{ "/reference/" | prepend: site.baseurl }}">CORE REFERENCE</a></li>
              <li><div class="dot"></div><a href="{{ "/best-practices/" | prepend: site.baseurl }}">BEST PRACTICES</a></li>
              <li><div class="dot"></div><a href="{{ "/merged-view/" | prepend: site.baseurl }}">MERGED VIEW</a></li>
              <div class="dot dropdown-list-dot"></div>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="{{ "/testing/" | prepend: site.baseurl }}">TESTING FEEDS</a><div class="dot"></div></li>
    </ul>

    <div class="language-menu">
      <select onchange="window.location = this.options[this.selectedIndex].value;">
        {% for language in site.languages %}
        <option value="{% if language == site.default_lang %}{{site.baseurl}}{{page.url}}{% else %}{{site.baseurl}}/{{language}}{{page.url}}{% endif %}" {% if language == site.active_lang %}selected="selected"{% endif %}>
          {% case language %}
            {% when "en" %}
              English
            {% when "de" %}
              Deutsch
            {% when "fr" %}
              Français
            {% when "es" %}
              Español
            {% else %}
              {{ language }}
          {% endcase %}
        </option>
        {% endfor %}
      </select>
      <button class="language-help">
        <i class="fa fa-question"></i>
      </button>
      <div class="language-bubble">
        <span>
        {% case site.active_lang %}
          {% when "de" %}
            Schlechte oder fehlende Übersetzung? <a href="https://github.com/itd-consortium/gtfs.org" target="_blank">Helfen Sie uns, es zu verbessern.</a>
          {% when "fr" %}
            Traduction incorrecte ou manquante? <a href="https://github.com/itd-consortium/gtfs.org" target="_blank">Aidez-nous à l'améliorer.</a>
          {% when "es" %}
            ¿Mala o falta traducción? <a href="https://github.com/itd-consortium/gtfs.org" target="_blank">Ayúdanos a mejorarlo.</a>
          {% else %}
            Can you speak French, German, or Spanish? <a href="https://github.com/itd-consortium/gtfs.org" target="_blank">Help us improve our translations!</a>
        {% endcase %}
        </span>
      </div>
    </div>

  </div>
</nav>
