<div class="system-tag-interface">
  <div class="system-tag-buttons">
    <a class="system-tag-info" href="#system-tags">System Tags</a>
    <button class="system-tag-button trip-planners" data-target="trip-planners">Trip Planners</button>
    <button class="system-tag-button human-readability" data-target="human-readability">Human Readability</button>
    <button class="system-tag-button arrival-predictions" data-target="arrival-predictions">Arrival Predictions</button>
    <button class="system-tag-button timetables" data-target="timetables">Timetables</button>
  </div>
</div>