html {
  height: 100%;
}

body {
  padding-bottom: 60px;
  min-height: 100%;
  position: relative;
  font-family: $font-sans;
  line-height: 1.3em;
  @include copy;
  overflow-x: auto;
}

h1,h2,h3,h4,h5,h6, .nav, .system-tag-info, .system-tag-button {
    font-family: $font-header;
    font-weight: 700;
}


h1 {
  padding-bottom: 5px;
  border-bottom: 2px solid $accent-color;
}

ol {
  margin-bottom: 20px;
}

.page {
  padding: 125px 0px;
}

.page-content {
  margin-right: auto;
  margin-left: auto;
  max-width: 1400px;
}

code {
  color: inherit;
  background-color: transparent;
  font-family: "Source Code Pro";
  font-weight: bold;
  padding: 0;
}

p {
  line-height: 1.3em;
}

li {
  margin: 5px 0;
}

img, svg {
  display: block;
  margin: 0 auto;
  max-width: 50%;
}

.img-link {
  text-decoration: none;
  border: none;

  &:hover {
    background-color: transparent;
  }
}

#homepage #gtfs-overview, .nav {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

//homepage-only styles

#homepage {

  #gtfs-overview {
    background-color: $nav-color;
    color: white;
    margin-bottom: 0;
    padding-bottom: 50px;
    z-index: 99999;
    position: relative;

    h1 {
      border: none;
    }

    a {
      color: white;
      border-bottom: 2px solid white;

      &:hover {
        background-color: white;
        color: $nav-color;
        text-decoration: none;
      }
    }

  }

  #how-do-i-start {
    padding-bottom: 125px;
  }
}

// sitewide links

a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
  padding: 0 0.07em;
  margin: 0 -0.05em;
}

a {
  border-bottom: 2px solid $link-color;
  transition: 0.2s all;

  &:visited {
    border-color: $link-color;
  }

  &:hover {
    background-color: $link-color;
    color: white;
    border-color: $link-color;
  }

  &:active {
    border-color: $link-color;
    background-color: $link-color;
    color: white;
    text-decoration: none;
    position: relative;
    top: 1px;
    right: -1px;
  }

  &:focus {
    text-decoration: none;
  }
}
