.navbar {
  border-radius: 0;
  text-align: center;
  border: none;
  padding: 0;
  z-index: 9999;
  margin-bottom: 0;

  .caret {
    border-width: 6px;
    margin-left: 6px;
    margin-bottom: 3px;
  }
}

.language-menu {
  align-self: center;
  display: inline-block;
  vertical-align: middle;
  position: relative;

  button.language-help {
    border-radius: 100%;
    background-color: #ffffff50;
    border-color: #bbb;
  }

  .language-bubble {
    display: none;
    position: absolute;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
    font-size: 12px;
    width: 250px;
    right: -25px;

    &::before {
      content: '';
      border: 7px solid transparent;
      border-bottom: 7px solid lightgoldenrodyellow;
      position: absolute;
      top: -14px;
      right: 25px;
      pointer-events: none;
    }
  }


}

#main-nav {
  border-bottom: 4px solid black;
  background-color: $nav-color;
  z-index: 1;
  display: flex !important;
  justify-content: space-evenly;
  align-items: flex-end;
}

#mobile-nav {

  padding-left: 0;
  padding-right: 0;

  a {
    background-color: transparent;
    color: white;
  }

  li {
    border-bottom: 1px solid black;
    margin: 0;
    padding: 5px 0;
  }
}

.nav a {
  color: white;
  border: none;
}

.nav a:hover {
  color: black;
  background-color: transparent;
  border: none;
}

.navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: middle;
  bottom: -4px;
  position: relative;
}

.waypoints {

  & > ul > li {

    margin: 0;

    & > a,
    & > button {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      padding: 20px 25px 15px 25px;
      color: white;
      font-size: 18px;

      &:hover,
      &:focus {
        color: black;
        background-color: transparent;
      }
    }
  }

  .dot {
    @include dot;
    display: block;
    position: relative;
    margin: 0 auto;
    height: 12px;
    width: 12px;
    bottom: -5px;
    border-width: 3px;
    z-index: 10;
  }
}

.dropdown-list {
  position: absolute;
  left: 50%;
  padding: 0;
  margin: 0;
  z-index: -1;
  transform: translateY(-200%);
  opacity: 0;
  transition: 0.2s all;
  list-style: none;
  background-color: transparent;
  pointer-events: none;

  &:before {
    content: '';
    position: absolute;
    height: 300%;
    width: 4px;
    background-color: black;
    left: -2px;
    bottom: 0;
  }

  & > li {
    white-space: nowrap;
    display: block;
    position: relative;
    text-align: left;
    background-color: transparent;
    transform: translateY(50%);

    &:hover {

      & > a,
      & > button {
        background-color: $nav-color;
        color: white;
      }

      & > a:before,
      & > button:before {
        border-right-color: $nav-color;
      }

    }

    & > .dot {
      display: inline-block;
      vertical-align: middle;
      left: -6px;
      bottom: 0;
    }
  }

  & > li > a,
  & > li > button {
    position: relative;
    font-size: 18px;
    color: black;
    padding: 10px 10px 10px 0;
    border-radius: 0;
    display: inline-block;
    vertical-align: middle;
    background-color: #ddd;
    margin-left: 15px;
    white-space: nowrap;
    transition: 0.2s all;
    border: none;

    &:before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      height: 0;
      width: 0;
      border: 20px solid transparent;
      border-right: 20px solid #ddd;
      transition: 0.2s all;
    }

  }

}

.sub-dropdown-list {
  left: -24px;

  .dropdown-list-dot {
    top: -2px;
    left: -6px;
    position: absolute;
    z-index: initial;

    &:before {
      content: '';
      height: 30px;
      width: 4px;
      position: absolute;
      bottom: 0;
      left: 13px;
      z-index: -5;
      background-color: black;
      transform: rotateZ(45deg);
    }
  }
}

.dropdown-link {

  &:hover > .dropdown-list {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
  }
}

.navbar-toggle {
  float: none;
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 0;
  color: white;
}

// fix to get early navbar-collapse

@media (min-width: 951px) {
  #mobile-nav {
    display: none !important;
  }
}

@media (max-width: 950px) {

    .navbar-header {
        float: none;
        background-color: $nav-color;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    #main-nav {
      display: none !important;
    }

    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }

    .waypoints .dot {
      display: none !important;
    }
}
