.container {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 100px;
  /* justify-content: center; */

}


.navContainer {
  flex: 1;
  max-width: 350px;
  background-color: #efefef;
  padding: 50px 15px 15px 30px;
  margin-right: 50px;
  overflow-y: auto;
}

.navContainer li {
  list-style: none;
}

.contentContainer {
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 75px;
  flex: 3;
  /* overflow-x: scroll; */
}
