.container {
  max-width: 275px;
  min-height: 125px;
  background-color: white;
  border: 1px solid lightgray;
  color: black!important;
  margin-right: 50px;
  padding: 10px;
  filter: drop-shadow(0px 0px 3px #efefef);
  transition: all .2s ease-in-out;
}

.container:hover {
  filter: drop-shadow(0px 0px 3px #cccccc);
  /* transition-delay: .5s; */
}

.title {

}

.items {

}

a {
  color: black;
}
