.footer-container {
  position: absolute;
  bottom: 0;
  height: 75px;
  width: 100vw;
  box-shadow: inset 0 7px 10px -15px rgba(0,0,0,1);
  background-color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  color: whitesmoke!important;
}

.footer-container a  {
  color: whitesmoke!important;
  text-decoration: underline;
  opacity: .7;
}

.footer-container a:hover  {
  color: whitesmoke!important;
  text-decoration: underline;
  opacity: .9;
}

.footer-container .footer-credits {
  padding-top: 1em;
}
