.up {
  top: 50px;
}

.docs-open {
  display: flex;
  flex-direction: row;
  color: black;
}

.docs-closed {
  color: #4183C4;
}

.fake-link:hover {
  cursor: pointer;
}

.mobility-data {
  flex: 3;
}

.mobility-data a {
  color: whitesmoke;
}

.github a {
  color: whitesmoke;

}

.container {
  width: 100%;
  height: auto;
  /* position: fixed; */
  z-index: 1;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 0px 5px #dbdbdb);
  /* overflow: auto; */
}

.upper-row {
  background: #172f50;
  color: whitesmoke;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}

.lower-row {
  width: 100%;
  height: 70px;
  background-color: white; /*#232323;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
}

.notice {
  height: auto;
  background-color: #d1d1d1;
  padding: 5px 20px;
}

.logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 5px;
  padding-left: 25px;
  opacity: .9;
  color: black;
}

.links {
  flex: 6;
  display: flex;
  flex-direction: row;
  /* justify-content:  */
  font-size: 20px !important;
}

.links > * {
  margin-right: 30px;
}

.github {
  /* flex: 2; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 160px;
  align-items: center;
  opacity: .7;
  margin-right: auto;
  transition: all .1s ease-in-out;
}

.github:hover {
  opacity: .9;
  cursor: pointer;
}

.github img {
  margin-bottom: -2px;
  margin-left: 5px;
}

.language {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
}

.active-page {
  color: black;
}

.docs-options {
  width: 100%;
  position: fixed;
  /* min-height: 150px; */
  height: auto;
  background-color: rgba(255,255,255, 1); /*#efefef;*/
  display: flex!important;
  flex-direction: row!important;
  justify-content: center;
  align-items: center;
  /* opacity: .7; */
  padding-left: 50px;
  overflow: auto;
}

.fixFlex {
  display: flex;
  flex-direction: row;
}
