h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

details {
    border: none;
    padding: .5em .5em 0;
}


summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    border: none;
}


details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}


p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#csv {
    font-family: "Courier New";
}

#attributions {
    display: none;
}

#calendar {
    display: none;
}

#calendar_d {
    display: none;
}

#fare_a {
    display: none;
}

#fare_r {
    display: none;
}

#levels {
    display: none;
}

#pathways {
    display: none;
}

#shapes {
    display: none;
}

#transfers {
    display: none;
}

tr:hover {
    background-color: #f5f5f5;
}