h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

details {
    border: none;
    padding: .5em .5em 0;
}


summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    border: none;
}


details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}


p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#csv {
    font-family: "Courier New";
}

#attributions {
    display: none;
}

#calendar {
    display: none;
}

#calendar_d {
    display: none;
}

#fare_a {
    display: none;
}

#fare_r {
    display: none;
}

#levels {
    display: none;
}

#pathways {
    display: none;
}

#shapes {
    display: none;
}

#transfers {
    display: none;
}

tr:hover {
    background-color: rgb(179, 179, 179);
}

#testagency {
    display: none;
}


/* This is the native select, we're making everything the text invisible so we can see the button styles in the wrapper */
.dropdown select {
    width: 100%;
    margin: 0;
    background: none;
    border: 1px solid transparent;
    outline: none;
    /* Prefixed box-sizing rules necessary for older browsers */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* Remove select styling */
    appearance: none;
    -webkit-appearance: none;
    /* Magic font size number to prevent iOS text zoom */
    font-size: 1.25em;
    /* General select styles: change as needed */
    /* font-weight: bold; */
    color: #444;
    padding: .6em 1.9em .5em .8em;
    line-height: 1.3;
}

.dropdown select,
label {
    font-family: AvenirNextCondensed-DemiBold, Corbel, "Lucida Grande", "Trebuchet Ms", sans-serif;
}

/* These are just demo button-y styles, style as you like */
.button {
    border: 1px solid #bbb;
    border-radius: .3em;
}


