.sideNav {
  position: fixed;
  min-width: 150px;
}

.sideNav a.active {
  background-color: red!important;
  color: red!important;
}

.sideNav a {
  font-size: 16px;
  text-decoration: none;
  color: #595959;
  transition: all .05s ease-in-out;
}

.sideNav a:hover{
  color: black!important;
}

.sideNav ul {
  margin: 3px 0 3px 10px;
}

.sideNav li {
  max-width: 200px;
  margin-bottom: 3px;
}
